# Node.js dependencies
node_modules/
**/node_modules/

# Build output
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*

# OS-specific files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/

# Python virtual environment
server/.env
server/venv/

# Server data
server/allData.json
server/transmitData.json

# React app dependencies
client/node_modules/
client/.pnp
client/.pnp.js

# React app testing
client/coverage/

# React app production build
client/build/

# Misc files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Others
*.log
*.pyc
__pycache__/
