.card.green {
  background-color: #ecfdf5;
  border-left: 6px solid #10b981;
}

.card.orange {
  background-color: #fff7ed;
  border-left: 6px solid #f97316;
  padding: 3
}

.card.red {
  background-color: #fef2f2;
  border-left: 6px solid #ef4444;
}

.flex {
  display: flex;
  gap: 16px;
  justify-content: space-between; /* or center if you prefer */
}

.flex-container {
  flex: 1; /* make each container fill available space */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  background-color: #f5f5f5;
  border-radius: 8px;
  min-width: 0; /* helps avoid overflow */
}

/* 
Tooltips from
https://www.w3schools.com/css/css_tooltip.asp#:~:text=Basic%20Tooltip&text=HTML%3A%20Use%20a%20container%20element,with%20class%3D%22tooltiptext%22%20.
*/

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  opacity: 0.5;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
